<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%- #We have modified the form here  -%>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :kind %><br>
    <%= form.select :kind, ["text","image"],{}, class: 'form-control' %>

  </div>

  <div class="form-group">
    <%= form.label :content %><br>
    <%= form.text_area :content,class: 'form-control' %>
  </div>

<%- #We have modified the button  -%>
  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
