<!DOCTYPE html>
<html>
  <head>
    <title>Crumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%- #We have setup bootstrap here  -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <%- #We will use container here for the post  -%>
    <div class="container">
      <div class="page-header">


        <%- #pull-right to show the buttons on right  -%>
        <ul class="nav nav-pills pull-right">
          <li>
            <%= link_to "Welcome", "/" %>
          </li>

          <li>
            <%= link_to "Manage Posts","/posts" %>
          </li>

          <li>
            <%= link_to "About", "/about" %>
          </li>
        </ul>
        <h1>
          <%= link_to "crumblr", '/' %>
          <%- #small hoye jabe porer line  -%>
          <small>// home baked goodness</small>
        </h1>
      </div>
      <%- #Middle e set korbe,but doesnot work here idk y  -%>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
